/* Typhography */

body {
  color: #414141;
  font-family: "Noto Sans KR", sans-serif;
}

section {
  padding: 60px 0;
}

li,
p {
  letter-spacing: 1.2px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #9d9d9c;
}

h1,
button,
span {
  font-size: 10px;
  letter-spacing: 2.8px;
}

h1,
button {
  color: #414141;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  width: 240px;
  height: 50px;
  border: 1px solid #414141;
  background: transparent;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #414141;
  color: #fff;
}

p {
  font-size: 30px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.italic {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: italic;
}

.full {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.eighty {
  width: 80%;
  margin: 0 auto;
}

.half {
  position: relative;
  width: 50%;
}

.intro__text,
.reservation__text,
.gift__text,
.instagram__text {
  flex-direction: column;
  justify-content: center;
}

.content__category {
  margin-bottom: 40px;
}

.content__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 160px);
  padding: 0 80px;
  text-align: center;
}

.content__title {
  max-width: 425px;
  margin-bottom: 60px;
  line-height: 2.4em;
}

.content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__btn:hover button,
.content__btn:hover span {
  background-color: #414141;
  color: #fff;
  transition: all 250ms ease-in;
}

.content__btn span {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #414141;
}

.content__btn span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  background-color: #fff;
  transition: all 250ms ease-in;
  z-index: 1;
}

#navbar li,
.navbar__menu__logo {
  transition: all 150ms ease-in;
  cursor: pointer;
}

.navbar__toggle-btn {
  display: none;
}

.navbar__menu__top {
  display: none;
}

.navbar__menu__logo {
  width: 90px;
  height: 75px;
}

.navbar__menu__logo.mini {
  width: 60px;
  height: 45px;
}

.navbar__menu__left,
.navbar__menu__right,
.navbar__emnu__center {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

/* Intro */
#intro {
  padding: 0;
}

.intro__text {
  background-color: #fbf7f6;
}

/* Reservation */
.reservation__text {
  background-color: #f3ede8;
}

/* Product */

.product__container {
  align-items: center;
  text-align: center;
}

.product__category,
.product__content {
  width: 100%;
}

.product__category h1 {
  margin-bottom: 30px;
}

.product__category p {
  font-weight: 300;
}

.product__content {
  justify-content: center;
  align-items: center;
}

.product {
  align-items: center;
  width: 33.3%;
}

.product__img {
  padding: 100px 0;
}

.product__description {
  align-items: center;
  margin-bottom: 30px;
}

.product__title h1 {
  display: inline;
}

.product__title span {
  padding: 0 10px;
  color: #cfa102;
  border-left: 2px solid #f9dbbe;
}

.product__description p {
  padding: 15px 0;
}

.price {
  color: #9d9d9c;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Gift */
.gift__text {
  background-color: #dee8e9;
}

/* Inspiration */
.inspiration__container {
  align-items: center;
}

.inspiration__text,
.inspiration__content,
.inspiration__btn {
  padding: 30px 0;
}

.inspiration__text {
  text-align: center;
}

.inspiration__text h1 {
  margin-bottom: 30px;
}

.inspiration__text h2,
.inspiration__text span {
  display: inline;
  font-weight: 300;
  font-size: 40px;
}

.inspiration__items {
  justify-content: center;
  align-items: center;
}

.inspiration__item {
  padding: 10px 30px;
}

/* Magazin */
.magazin__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3ede8;
}

.magazin__row {
  display: flex;
}

.content__center.magazin span {
  display: inline;
  font-size: 12px;
}

.read-story {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.read-story i {
  position: absolute;
  right: -24px;
  font-size: 20px;
  transition: all 250ms ease-out;
}

.read-story:hover.read-story i {
  right: -29px;
}

/* newsletter */

.newsletter__container {
  justify-content: center;
  align-items: center;
}

.newsletter__text,
.newsletter__email,
.newsletter__title {
  width: 70%;
  padding: 20px 0;
  text-align: center;
}

.newsletter__text {
  font-size: 32px;
  line-height: 1.2em;
}

.newsletter__email input {
  padding: 20px 60px 20px 0;
  border: none;
  border-bottom: 1px solid #414141;
  color: #414141;
  font-size: 30px;
  line-height: 45px;
  position: relative;
  width: calc(100% - 60px);
}

.newsletter__email {
  position: relative;
  outline: none;
}

.newsletter__submit {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border: 1px solid #414141;
  cursor: pointer;
}

/* Instagram */
.instagram__text {
  background-color: #f9dbbe;
}

/* Gallery */
.gallery__container a {
  width: 25%;
}

.gallery__photo:hover {
  transition: all 250ms ease-in;
  opacity: 0.5;
}

.gallery__follow {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.gallery__follow p,
.gallery__follow a {
  display: inline;
  font-size: 36px;
  font-weight: 300;
}

.gallery__follow a {
  color: #9d9d9c;
}

/* Footer */
#footer {
  padding: 65px;
  background-color: #f3ede8;
  font-size: 14px;
  letter-spacing: 2.2px;
  text-align: center;
  text-transform: uppercase;
}

.footer__container {
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.footer__content {
  width: 33.3%;
  border-right: 1px solid #414141;
}

.footer__content:last-child {
  border: none;
}

.footer__content li:first-child {
  color: #9d9d9c;
  margin-bottom: 28px;
}

.footer__content li {
  line-height: 1.6em;
}

.footer__content li a {
  color: #414141;
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 21px;
  }

  .navbar__menu__right li:first-child,
  .navbar__menu__left li:last-child,
  .navbar__menu__left li:nth-child(2n) {
    display: none;
  }

  #navbar {
    justify-content: space-between;
    padding: 10px 0;
  }

  .navbar__menu__logo {
    width: 60px;
    height: 45px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  .navbar__toggle-btn.hide {
    display: none;
  }

  .navbar__menu__left,
  .navbar__menu__right,
  .navbar__menu__center {
    width: 15%;
  }

  .navbar__menu__top {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }

  #navbar.click {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0;
    background-color: #f3ede8;
  }

  .navbar__menu__left.click,
  .navbar__menu__right.click {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .navbar__menu__left.click .left__menu__item,
  .navbar__menu__right.click li {
    display: block;
    padding: 30px 20px 20px 0;
    border-bottom: 2px solid #414141;
    font-size: 18px;
    font-weight: 300;
  }

  #navbar.click .navbar__menu__center,
  #navbar.click .navbar__menu__right li:last-child {
    display: none;
  }

  .intro__container,
  .reservation__container,
  .gift__container,
  .instagram__container {
    flex-direction: column;
    width: 100%;
  }

  .intro__photo,
  .intro__text,
  .reservation__text,
  .reservation__photo,
  .gift__text,
  .gift__photo,
  .magazin__text,
  .magazin__photo,
  .instagram__text,
  .instagram__photo,
  .gallery__container,
  .product__container {
    width: 100%;
  }

  .product {
    width: 30%;
  }

  .product__img {
    padding: 20px 0;
  }

  .product button {
    width: 180px;
  }

  .inspiration__text h2,
  .inspiration__text span {
    font-size: 28px;
  }

  .inspiration__item {
    padding: 10px;
  }

  .magazin__photo {
    order: 1;
  }
  .magazin__text {
    order: 2;
  }

  .content__center {
    padding: 40px 80px;
  }

  .magazin__row {
    flex-direction: column;
  }

  .newsletter__text,
  .newsletter__email,
  .newsletter__title {
    width: 80%;
    padding: 20px 0;
    text-align: center;
  }

  .newsletter__email input {
    font-size: 21px;
  }

  .gallery__follow p,
  .gallery__follow a {
    font-size: 28px;
  }
}

@media screen and (max-width: 787px) {
  .product__content {
    flex-direction: column;
  }

  .product {
    width: 100%;
    padding: 60px 0;
  }

  .magazin__container,
  .newsletter__container,
  .inspiration__container {
    width: 100%;
  }

  .inspiration__text h2,
  .inspiration__text span {
    font-size: 23px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__content {
    width: 100%;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #414141;
  }
}
